<div class="page-container">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo.key, class: "card-product-img" %>

  <% @cocktail.doses.each do |dose| %>
    <div class="card-cocktail-description">
      <div class="card-cocktail-description-name">
        <h2><%= dose.ingredient.name %></h2>
      </div>
      <div class="card-cocktail-description">
        <h3><%= dose.description %></h3>
      </div>
      <%= link_to "Delete dose", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
  <%= link_to "Add new dose", new_cocktail_dose_path(params[:id]), class: "btn btn-add" %>

  <%= link_to "Back to cocktail's list", cocktails_path, class: "btn btn-back" %>
</div>
